

.city{
    font-family: sans-serif;
}

.btn {
    font-size: 1.3rem;
    display: block;
    margin: 5px 0;
    width: 180px;
    background-color:violet;
    color: white;
}
.btn:hover{
    cursor: pointer;
}
